version: "3.9"
services:
  app:
    build: .
    container_name: ticketing_app
    ports:
    - "8501:8501"
    env_file:
    - .env
    depends_on:
    - db

  db:
    image: postgres:16
    container_name: ticketing_db
    environment:
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_DB: ${POSTGRES_DB}
    ports:
    - "5432:5432"
    volumes:
    - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: